
<div class="course-top row" data-no-turbolink>
	<div class="container">
	<div class="col m4">
		    	<div class="collection section-outline" data-no-turbolink>
						<% @tasks.each do |task| %>
							<% if task.header %>
								<div class="tit-section xsm">
									<i class="mdi-social-school"> <%= task.title %></i>
								</div>
							<% else %>
								<%= link_to [task.project, task], class: "collection-item" do %>
									<%= task.title %>
								<% end %>
							<% end %>
						<% end %>
					</div>
	</div>

	<div class="col m8">
				<div class="subContentsWrap2">
				
				<h4 class="word"><%= @task.title %></h4>
				<hr>
				<%= markdown(@task.note) %>
			</div>
	</div>
	
	
</div>	

</div>
