<div class="row slide intro">
	<div class="col s12">
		<div class="container">
      <div class="slide-cn" id="slide-home">
          <!-- SLIDE ITEM -->
          <div class="slide-item">
              <div class="item-inner">
                <div class="col m7">
                  <div class="text">
                      <h2>実在するサービスをモデルに<br>プログラミング学習を｡</h2>
                      <p>Airbnb, TaskRabbit, Tinder・・<br>世界の魅力的なサービスをあなたの手で。</p>
                      <br><br>
											<div class="group">
                          <%= link_to "会員登録（無料）をする", new_user_registration_path, class: "btn-large blue lighten-1 cloud_get_started waves-effect waves-light white-text" %>
                      </div>
                  </div>
                </div>
                <div class="col m5">
                  <div class="img">
                    <!--<img src="images/homeslider/img-thumb.png" alt="">-->
                    <%= image_tag('slide1thum.png') %>
                  </div>
                </div>
              </div>

          </div>
          <!-- SLIDE ITEM1 -->
      </div>
		</div>
	</div>
</div>


<section id="mc-section-1" class="mc-section-1 section">
		<div class="container">
				<div class="row">

						<div class="col m12">
								<div class="row">
										<div class="col s4">
												<div class="featured-item">
														<i class="icon icon-featured-1"></i>
														<h4 class="title-box text-uppercase">勉強効率をアップ！</h4>
														<p>簡単なアプリではなく、実際に存在する人気のあるアプリやサービスをモデルに実践的なサービスを作ることができます。実際にプログラマが作ってみたいアプリやサイトに近いものが作れるため、ワクワクしてプログラミングの勉強ができます！</p>
												</div>
										</div>

										<div class="col s4">
												<div class="featured-item">
														<i class="icon icon-featured-2"></i>
														<h4 class="title-box text-uppercase">どんな人に役立つの？</h4>
														<p>学生、初心者～上級者プログラマー、スタートアップ起業家、新しくプログラミング言語を使ってみたい人・・・など。さらに、勉強できる言語は、開発速度に定評のあるRuby on Rails, Javascript, HTML, CSSなどを使用します。開発言語は、随時増える予定です。</p>
												</div>
										</div>

										<div class="col s4">
												<div class="featured-item">
														<i class="icon icon-featured-3"></i>
														<h4 class="title-box text-uppercase">Ｗｅｂテキストによる解説</h4>
														<p>サービスを構築する手順をＷｅｂテキストで順に解説します。テキストベースですので、自分のペースで繰り返し勉強することができます。質問等がありましたら、メンターにチャットより質問が可能です。途中でわからないことがあってもメンターと共に解決することで、最後までサービスを構築することができます。</p>
												</div>
										</div>

								</div>
						</div>

				</div>
		</div>
</section>
<!-- END / SECTION 1 -->

<!-- aboutC4S -->
<section id="idxSecAboutC4S" class="mc-section-2 section">
 <div class="container-fluid">
	 <div class="row">

		 <div class="col s6 aboutC4SLeft">
			 <div class="row">
				 <div class="ct col-xs-10 col-xs-push-2">
						 <h2 class="big">BProCoderってなに？</h2>
						 <p class="mc-text">
							 BProCoderは、リブレックス合同会社が提供する<br>
							 プログラム学習用webサービスです。<br>
							 世界で有名なサービスを題材に、課金機能からサーバ公開まで<br>
							 実際のスタートアップ（起業）で求められる機能を想定し、<br>学習することができるサービスです。<br>
							 プロのプログラマーへの最短コース！<br>
						 </p>

						 <%= link_to "会員登録（無料）をする", new_user_registration_path, class: "mc-btn btn-style-3" %>
				 </div>
			 </div>
		 </div>

	 <div class="col s6 aboutC4SRight">
		 <div class="row">
			 <div class="ct col-xs-10 col-xs-offset-1">
				 <br>
				 <div class="image">
						 <%= image_tag('image.png') %>
				 </div>
			 </div>
		 </div>
	 </div>

	 </div>
 </div>
</section>
<!-- /aboutC4S -->

<section class="center">
  <%= link_to "コース一覧を見る", project_index_path, class: "btn-large blue lighten-1 cloud_get_started waves-effect waves-light white-text" %>
  <br><br>
</section>
