<div class="row slide awe-parallax-regist bg-login-content">
	<div class="col s12">
		<div class="container">
      <div class="slide-cn" id="slide-home">
          <!-- SLIDE ITEM -->
          <div class="slide-item">
              <div class="item-inner">
                <div class="col m7">
                  <div class="text">
                    <div class="col-xs-12 col-lg-6 loginWrapMsg">
                      <h2>さあ、今日は何を覚える？</h2>
                      <h3>好きな時間に、好きなだけ。</h3>
                    </div>

                  </div>
                </div>
    
      <div class="col m5">
　　　
　　　
　　　  <div id="wrapper">
                    <h5 class="black-text">ログイン</h5>
                    
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= render partial: "shared/devisemes" %>
                    
      <div class="input-field">
        <%= f.email_field :email, :id => "email", :class => "validate", :placeholder => "Email" %>
      </div>

      <div class="input-field">
        <%= f.password_field :password, :id => "email", :class => "validate", :placeholder => "Password", autocomplete: "off" %>
      </div>
      <br>
      
      <button class="btn waves-effect waves-light" type="submit" name="action">ログイン</button>
      <%= link_to "パスワードを忘れた？", new_user_password_path, :class => "btn waves-effect waves-light" %>
						<% end %>
						<br>
						 <%= link_to "会員登録をしてない方はこちらから", new_user_registration_path, :class => "black-text" %>
</div>
　　　
　　　
　　　
　　　　    


            
                       
          </div>
          <!-- SLIDE ITEM1 -->
      </div>
		</div>
	</div>
</div>
</div>
</div>
